-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."Nacionalidade" AS ENUM ('BRASILEIRA', 'ESTRANGEIRA');

-- CreateEnum
CREATE TYPE "public"."NivelPermissao" AS ENUM ('NENHUM', 'VER', 'EDITAR');

-- CreateEnum
CREATE TYPE "public"."OcorrenciaPonto" AS ENUM ('NORMAL', 'FALTA', 'FERIADO', 'FERIAS', 'ATESTADO', 'FOLGA', 'DSR');

-- CreateEnum
CREATE TYPE "public"."PublicoCardapio" AS ENUM ('MATERNAL_PRE', 'BERCARIO', 'FUNDAMENTAL');

-- CreateEnum
CREATE TYPE "public"."RacaCor" AS ENUM ('BRANCA', 'PRETA', 'PARDA', 'AMARELA', 'INDIGENA', 'NAO_DECLARADA');

-- CreateEnum
CREATE TYPE "public"."Role" AS ENUM ('ADMIN', 'DIRECAO', 'SECRETARIA', 'FINANCEIRO', 'PEDAGOGICO', 'ADMINISTRATIVO');

-- CreateEnum
CREATE TYPE "public"."Sexo" AS ENUM ('M', 'F');

-- CreateEnum
CREATE TYPE "public"."SituacaoMatricula" AS ENUM ('ATIVA', 'TRANCADA', 'CANCELADA', 'TRANSFERIDA', 'CONCLUIDA');

-- CreateEnum
CREATE TYPE "public"."StatusBoleto" AS ENUM ('PENDENTE', 'REGISTRADO', 'ERRO', 'PAGO', 'CANCELADO');

-- CreateEnum
CREATE TYPE "public"."StatusListaEspera" AS ENUM ('AGUARDANDO', 'CONTATADO', 'MATRICULADO', 'DESISTIU', 'CHAMAR_NOVAMENTE', 'NAO_RESPONDEU', 'PORTAS_ABERTAS', 'SEM_RETORNO_APOS_VISITA', 'NAO_TEM_INTERESSE', 'VALOR_ULTRAPASSA', 'SEM_VAGA');

-- CreateEnum
CREATE TYPE "public"."StatusNotaFiscal" AS ENUM ('PENDENTE', 'EMITIDA', 'ERRO', 'CANCELADA');

-- CreateEnum
CREATE TYPE "public"."TipoEscalaBloco" AS ENUM ('TURNO', 'NOTA');

-- CreateEnum
CREATE TYPE "public"."TipoMov" AS ENUM ('ENTRADA', 'SAIDA', 'AJUSTE', 'ESTORNO');

-- CreateEnum
CREATE TYPE "public"."Turno" AS ENUM ('MANHA', 'TARDE');

-- CreateTable
CREATE TABLE "public"."Aluno" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "nomeSocial" TEXT,
    "dataNascimento" TIMESTAMP(3) NOT NULL,
    "naturalidade" TEXT,
    "cpf" TEXT,
    "rg" TEXT,
    "certidaoNascimento" TEXT,
    "foto" TEXT,
    "endereco" TEXT,
    "bairro" TEXT,
    "cidade" TEXT,
    "cep" TEXT,
    "tipoSanguineo" TEXT,
    "convenioMedico" TEXT,
    "medicacaoContinua" TEXT,
    "alergias" TEXT,
    "restricoes" TEXT,
    "necessidadesEsp" TEXT,
    "autorizacaoImagem" BOOLEAN NOT NULL DEFAULT false,
    "sexo" "public"."Sexo",
    "racaCor" "public"."RacaCor",
    "povoIndigena" TEXT,
    "nacionalidade" "public"."Nacionalidade" NOT NULL DEFAULT 'BRASILEIRA',
    "municipioNasc" TEXT,
    "ufNasc" TEXT,
    "filiacao1" TEXT,
    "filiacao2" TEXT,
    "bolsaFamilia" BOOLEAN NOT NULL DEFAULT false,
    "deficiencia" BOOLEAN NOT NULL DEFAULT false,
    "tipoDeficiencia" TEXT,
    "recursosAcessib" TEXT,
    "nis" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "brincadeirasPrediletas" TEXT,
    "duracaoEscolaAnterior" TEXT,
    "idadesIrmaos" TEXT,
    "jaFrequentouEscola" BOOLEAN,
    "obsBicoMamadeira" TEXT,
    "reacoesContrariado" TEXT,
    "rotinaSonoAlimentacao" TEXT,
    "temIrmaos" BOOLEAN,
    "usaBico" BOOLEAN,
    "usaMamadeira" BOOLEAN,

    CONSTRAINT "Aluno_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AnoLetivo" (
    "id" TEXT NOT NULL,
    "ano" INTEGER NOT NULL,
    "ativo" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "AnoLetivo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AvisoLeitura" (
    "id" TEXT NOT NULL,
    "avisoId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AvisoLeitura_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Boleto" (
    "id" TEXT NOT NULL,
    "alunoId" TEXT NOT NULL,
    "competencia" TEXT NOT NULL,
    "valor" DOUBLE PRECISION NOT NULL,
    "vencimento" TIMESTAMP(3) NOT NULL,
    "status" "public"."StatusBoleto" NOT NULL DEFAULT 'PENDENTE',
    "nossoNumero" TEXT,
    "linhaDigitavel" TEXT,
    "codigoBarras" TEXT,
    "mensagemErro" TEXT,
    "dataRegistro" TIMESTAMP(3),
    "usuario" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Boleto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Cardapio" (
    "id" TEXT NOT NULL,
    "data" TIMESTAMP(3) NOT NULL,
    "fruta" TEXT,
    "almoco" TEXT,
    "lancheInfantil" TEXT,
    "lancheFundamental" TEXT,
    "lanche" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Cardapio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CardapioMes" (
    "id" TEXT NOT NULL,
    "ano" INTEGER NOT NULL,
    "mes" INTEGER NOT NULL,
    "publico" "public"."PublicoCardapio" NOT NULL,
    "semanas" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CardapioMes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Chave" (
    "id" TEXT NOT NULL,
    "sala" TEXT NOT NULL,
    "ativa" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "Chave_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Contrato" (
    "id" TEXT NOT NULL,
    "matriculaId" TEXT NOT NULL,
    "arquivo" TEXT,
    "assinado" BOOLEAN NOT NULL DEFAULT false,
    "dataEnvio" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "assinadoEm" TIMESTAMP(3),
    "cpfAssinante" TEXT,
    "ipAssinatura" TEXT,
    "nomeAssinante" TEXT,
    "tokenAssinatura" TEXT,
    "alunoNascimentoSnapshot" TIMESTAMP(3),
    "alunoNomeSnapshot" TEXT,
    "anoLetivoSnapshot" INTEGER,
    "dataMatriculaSnapshot" TIMESTAMP(3),
    "diaVencimentoSnapshot" TEXT,
    "mesInicioVencimentoSnapshot" TEXT,
    "responsavelCpfSnapshot" TEXT,
    "responsavelNomeSnapshot" TEXT,
    "turmaNomeSnapshot" TEXT,
    "turnoLabelSnapshot" TEXT,
    "valorMensalidadeSnapshot" DOUBLE PRECISION,

    CONSTRAINT "Contrato_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DocumentoFuncionario" (
    "id" TEXT NOT NULL,
    "funcionarioId" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "nomeArquivo" TEXT NOT NULL,
    "arquivo" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DocumentoFuncionario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DocumentoInstitucional" (
    "id" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "categoria" TEXT NOT NULL,
    "link" TEXT NOT NULL,
    "validade" TIMESTAMP(3),
    "observacao" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DocumentoInstitucional_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EmprestimoChave" (
    "id" TEXT NOT NULL,
    "chaveId" TEXT NOT NULL,
    "responsavel" TEXT NOT NULL,
    "retirada" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "devolucao" TIMESTAMP(3),
    "responsavelFuncionarioId" TEXT,

    CONSTRAINT "EmprestimoChave_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EscalaEquipeBloco" (
    "id" TEXT NOT NULL,
    "ano" INTEGER NOT NULL,
    "ordem" INTEGER NOT NULL,
    "titulo" TEXT NOT NULL,
    "tipo" "public"."TipoEscalaBloco" NOT NULL DEFAULT 'TURNO',
    "horariosReferencia" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "entradas" JSONB,
    "saidas" JSONB,
    "conteudoLivre" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EscalaEquipeBloco_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EventoCalendario" (
    "id" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "data" TIMESTAMP(3) NOT NULL,
    "categoria" TEXT NOT NULL,
    "descricao" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EventoCalendario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Funcionario" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "cpf" TEXT,
    "cargo" TEXT NOT NULL,
    "setor" TEXT NOT NULL,
    "telefone" TEXT,
    "email" TEXT,
    "dataNascimento" TIMESTAMP(3),
    "admissao" TIMESTAMP(3) NOT NULL,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "participaPonto" BOOLEAN NOT NULL DEFAULT false,
    "jornadaPrevistaMinutos" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Funcionario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ItemEstoque" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "categoria" TEXT NOT NULL,
    "unidade" TEXT NOT NULL,
    "quantidade" INTEGER NOT NULL DEFAULT 0,
    "minimo" INTEGER NOT NULL DEFAULT 5,
    "localizacao" TEXT,
    "fornecedor" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ItemEstoque_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ListaEspera" (
    "id" TEXT NOT NULL,
    "nomeCrianca" TEXT NOT NULL,
    "dataNascimento" TIMESTAMP(3),
    "nomeResponsavel" TEXT NOT NULL,
    "telefoneResponsavel" TEXT NOT NULL,
    "emailResponsavel" TEXT,
    "turmaDesejadaId" TEXT,
    "observacoes" TEXT,
    "status" "public"."StatusListaEspera" NOT NULL DEFAULT 'AGUARDANDO',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "parentescoContato" TEXT,
    "interesseTexto" TEXT,
    "dataPrimeiroContato" TIMESTAMP(3),
    "oQueBusca" TEXT,
    "dataVisita" TIMESTAMP(3),
    "foto" TEXT,

    CONSTRAINT "ListaEspera_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."LogAtividade" (
    "id" TEXT NOT NULL,
    "acao" TEXT NOT NULL,
    "entidade" TEXT NOT NULL,
    "entidadeId" TEXT NOT NULL,
    "usuario" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LogAtividade_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Matricula" (
    "id" TEXT NOT NULL,
    "alunoId" TEXT NOT NULL,
    "turmaId" TEXT NOT NULL,
    "anoLetivoId" TEXT NOT NULL,
    "situacao" "public"."SituacaoMatricula" NOT NULL DEFAULT 'ATIVA',
    "dataMatricula" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "valorMensalidade" DOUBLE PRECISION,

    CONSTRAINT "Matricula_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Mensagem" (
    "id" TEXT NOT NULL,
    "remetenteId" TEXT NOT NULL,
    "destinatarioId" TEXT NOT NULL,
    "conteudo" TEXT,
    "anexoNome" TEXT,
    "anexo" TEXT,
    "lida" BOOLEAN NOT NULL DEFAULT false,
    "excluida" BOOLEAN NOT NULL DEFAULT false,
    "editadaEm" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Mensagem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."MovimentacaoEstoque" (
    "id" TEXT NOT NULL,
    "itemId" TEXT NOT NULL,
    "tipo" "public"."TipoMov" NOT NULL,
    "quantidade" INTEGER NOT NULL,
    "motivo" TEXT,
    "responsavel" TEXT,
    "destino" TEXT,
    "anulada" BOOLEAN NOT NULL DEFAULT false,
    "refId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MovimentacaoEstoque_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."MuralAviso" (
    "id" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "conteudo" TEXT NOT NULL,
    "autor" TEXT NOT NULL,
    "autorId" TEXT,
    "fixado" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MuralAviso_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."NotaFiscal" (
    "id" TEXT NOT NULL,
    "alunoId" TEXT NOT NULL,
    "competencia" TEXT NOT NULL,
    "valorServico" DOUBLE PRECISION NOT NULL,
    "discriminacao" TEXT NOT NULL,
    "status" "public"."StatusNotaFiscal" NOT NULL DEFAULT 'PENDENTE',
    "numeroNota" TEXT,
    "serieNota" TEXT,
    "codigoVerificacao" TEXT,
    "protocolo" TEXT,
    "mensagemErro" TEXT,
    "dataEmissao" TIMESTAMP(3),
    "usuario" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "NotaFiscal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Notificacao" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "corpo" TEXT,
    "link" TEXT,
    "lida" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notificacao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PermissaoUsuario" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "modulo" TEXT NOT NULL,
    "nivel" "public"."NivelPermissao" NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PermissaoUsuario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PessoaAutorizada" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "parentesco" TEXT NOT NULL,
    "alunoId" TEXT NOT NULL,

    CONSTRAINT "PessoaAutorizada_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."RegistroPonto" (
    "id" TEXT NOT NULL,
    "funcionarioId" TEXT NOT NULL,
    "data" TIMESTAMP(3) NOT NULL,
    "entrada1" INTEGER,
    "saida1" INTEGER,
    "entrada2" INTEGER,
    "saida2" INTEGER,
    "entrada3" INTEGER,
    "saida3" INTEGER,
    "ocorrencia" "public"."OcorrenciaPonto" NOT NULL DEFAULT 'NORMAL',
    "observacao" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RegistroPonto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Responsavel" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "parentesco" TEXT NOT NULL,
    "cpf" TEXT,
    "telefone" TEXT NOT NULL,
    "email" TEXT,
    "autorizado" BOOLEAN NOT NULL DEFAULT true,
    "alunoId" TEXT NOT NULL,
    "cep" TEXT,
    "endereco" TEXT,
    "escolaridade" TEXT,
    "profissao" TEXT,
    "rg" TEXT,
    "telefoneComercial" TEXT,
    "telefoneFixo" TEXT,

    CONSTRAINT "Responsavel_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Turma" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "turno" "public"."Turno" NOT NULL,
    "capacidade" INTEGER NOT NULL DEFAULT 25,
    "anoLetivoId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Turma_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."User" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" "public"."Role" NOT NULL DEFAULT 'SECRETARIA',
    "tentativasFalhas" INTEGER NOT NULL DEFAULT 0,
    "bloqueadoAte" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "pedidoResetSenhaEm" TIMESTAMP(3),
    "foto" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Aluno_cpf_key" ON "public"."Aluno"("cpf" ASC);

-- CreateIndex
CREATE INDEX "Aluno_nome_idx" ON "public"."Aluno"("nome" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "AnoLetivo_ano_key" ON "public"."AnoLetivo"("ano" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "AvisoLeitura_avisoId_userId_key" ON "public"."AvisoLeitura"("avisoId" ASC, "userId" ASC);

-- CreateIndex
CREATE INDEX "Boleto_alunoId_idx" ON "public"."Boleto"("alunoId" ASC);

-- CreateIndex
CREATE INDEX "Boleto_competencia_idx" ON "public"."Boleto"("competencia" ASC);

-- CreateIndex
CREATE INDEX "Boleto_status_idx" ON "public"."Boleto"("status" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Cardapio_data_key" ON "public"."Cardapio"("data" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CardapioMes_ano_mes_publico_key" ON "public"."CardapioMes"("ano" ASC, "mes" ASC, "publico" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Contrato_matriculaId_key" ON "public"."Contrato"("matriculaId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Contrato_tokenAssinatura_key" ON "public"."Contrato"("tokenAssinatura" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Funcionario_cpf_key" ON "public"."Funcionario"("cpf" ASC);

-- CreateIndex
CREATE INDEX "LogAtividade_entidade_createdAt_idx" ON "public"."LogAtividade"("entidade" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "Matricula_alunoId_idx" ON "public"."Matricula"("alunoId" ASC);

-- CreateIndex
CREATE INDEX "Matricula_anoLetivoId_idx" ON "public"."Matricula"("anoLetivoId" ASC);

-- CreateIndex
CREATE INDEX "Matricula_anoLetivoId_situacao_idx" ON "public"."Matricula"("anoLetivoId" ASC, "situacao" ASC);

-- CreateIndex
CREATE INDEX "Matricula_situacao_idx" ON "public"."Matricula"("situacao" ASC);

-- CreateIndex
CREATE INDEX "Matricula_turmaId_idx" ON "public"."Matricula"("turmaId" ASC);

-- CreateIndex
CREATE INDEX "Mensagem_destinatarioId_lida_idx" ON "public"."Mensagem"("destinatarioId" ASC, "lida" ASC);

-- CreateIndex
CREATE INDEX "Mensagem_destinatarioId_remetenteId_createdAt_idx" ON "public"."Mensagem"("destinatarioId" ASC, "remetenteId" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "Mensagem_remetenteId_destinatarioId_createdAt_idx" ON "public"."Mensagem"("remetenteId" ASC, "destinatarioId" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "NotaFiscal_alunoId_idx" ON "public"."NotaFiscal"("alunoId" ASC);

-- CreateIndex
CREATE INDEX "NotaFiscal_competencia_idx" ON "public"."NotaFiscal"("competencia" ASC);

-- CreateIndex
CREATE INDEX "NotaFiscal_status_idx" ON "public"."NotaFiscal"("status" ASC);

-- CreateIndex
CREATE INDEX "Notificacao_usuarioId_lida_idx" ON "public"."Notificacao"("usuarioId" ASC, "lida" ASC);

-- CreateIndex
CREATE INDEX "PermissaoUsuario_userId_idx" ON "public"."PermissaoUsuario"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "PermissaoUsuario_userId_modulo_key" ON "public"."PermissaoUsuario"("userId" ASC, "modulo" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "RegistroPonto_funcionarioId_data_key" ON "public"."RegistroPonto"("funcionarioId" ASC, "data" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Turma_nome_anoLetivoId_key" ON "public"."Turma"("nome" ASC, "anoLetivoId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email" ASC);

-- AddForeignKey
ALTER TABLE "public"."AvisoLeitura" ADD CONSTRAINT "AvisoLeitura_avisoId_fkey" FOREIGN KEY ("avisoId") REFERENCES "public"."MuralAviso"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AvisoLeitura" ADD CONSTRAINT "AvisoLeitura_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Boleto" ADD CONSTRAINT "Boleto_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "public"."Aluno"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Contrato" ADD CONSTRAINT "Contrato_matriculaId_fkey" FOREIGN KEY ("matriculaId") REFERENCES "public"."Matricula"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DocumentoFuncionario" ADD CONSTRAINT "DocumentoFuncionario_funcionarioId_fkey" FOREIGN KEY ("funcionarioId") REFERENCES "public"."Funcionario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EmprestimoChave" ADD CONSTRAINT "EmprestimoChave_chaveId_fkey" FOREIGN KEY ("chaveId") REFERENCES "public"."Chave"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EmprestimoChave" ADD CONSTRAINT "EmprestimoChave_responsavelFuncionarioId_fkey" FOREIGN KEY ("responsavelFuncionarioId") REFERENCES "public"."Funcionario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ListaEspera" ADD CONSTRAINT "ListaEspera_turmaDesejadaId_fkey" FOREIGN KEY ("turmaDesejadaId") REFERENCES "public"."Turma"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Matricula" ADD CONSTRAINT "Matricula_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "public"."Aluno"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Matricula" ADD CONSTRAINT "Matricula_anoLetivoId_fkey" FOREIGN KEY ("anoLetivoId") REFERENCES "public"."AnoLetivo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Matricula" ADD CONSTRAINT "Matricula_turmaId_fkey" FOREIGN KEY ("turmaId") REFERENCES "public"."Turma"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Mensagem" ADD CONSTRAINT "Mensagem_destinatarioId_fkey" FOREIGN KEY ("destinatarioId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Mensagem" ADD CONSTRAINT "Mensagem_remetenteId_fkey" FOREIGN KEY ("remetenteId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."MovimentacaoEstoque" ADD CONSTRAINT "MovimentacaoEstoque_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "public"."ItemEstoque"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."MuralAviso" ADD CONSTRAINT "MuralAviso_autorId_fkey" FOREIGN KEY ("autorId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."NotaFiscal" ADD CONSTRAINT "NotaFiscal_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "public"."Aluno"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Notificacao" ADD CONSTRAINT "Notificacao_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PermissaoUsuario" ADD CONSTRAINT "PermissaoUsuario_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PessoaAutorizada" ADD CONSTRAINT "PessoaAutorizada_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "public"."Aluno"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RegistroPonto" ADD CONSTRAINT "RegistroPonto_funcionarioId_fkey" FOREIGN KEY ("funcionarioId") REFERENCES "public"."Funcionario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Responsavel" ADD CONSTRAINT "Responsavel_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "public"."Aluno"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Turma" ADD CONSTRAINT "Turma_anoLetivoId_fkey" FOREIGN KEY ("anoLetivoId") REFERENCES "public"."AnoLetivo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

